@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap');
@import "tailwindcss";  

body {
    font-family: 'Libre Franklin', sans-serif;
    background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
    background-color: black;
    background-attachment: fixed;
}